grant {
	permission java.net.AllPermission;
	permission java.net.SocketPermission "127.0.0.1:*", "accept,connect";
	permission java.net.SocketPermission "10.100.84.77:*", "accept,connect";
};